.box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearbox{
    padding:0;
    margin:0;
}

.clearlist{
    list-style-type:none;
}

.clearfloat{
  clear:both;
}

.indent {
    padding-left: 20px;
}

.justify {
  text-align: justify;
}

.textright {
  text-align: right;
}

/*changing all navs*/
.nav {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

/*make nav horizontal*/
.nav li {
	display:inline-block;
	margin-right: 1px;
    float:left;
}
a{
  text-decoration:none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.site{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.header{
  color:#000;
  float:left;
  padding: 12px 30px;
  border-bottom: 1px;
  border-radius: 4px;
}

.header .title{
  color: #027;
  float: left;
  font-family: Arial;
  font-weight: bold;
  font-size: 2.4em;
  padding: 10px 15px;
  margin: 0;
  text-shadow: 6px 6px 3px #555;
}

.header .title a{
  text-decoration: none;
}

.header .subtitle{
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
  float: left;
}

.header .nav{
  float:right;
}

.navbutton{
  min-width:80px;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  line-height: 30px;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #027;  
  border-radius: 4px;
}

.active {
    border-bottom: 3px solid #0CF;
}

.header .nav li a {
  display:block;
  margin:1px;
}
a.menutoggle {
  display: none;
  float: right;
}

.page{
  float:left;
  border-top-left-radius:12px;
  border-left: 1px solid blue;
  border-top: 1px solid blue;
  padding: 0px 6px 6px;
}

.page .title{
  color:#720;
  font-size:2em;
  font-family:  "Architects Daughter",  Arial;
  font-weight: bold;
  float:left;
  padding: 20px 10px 0;
}

.page .subtitle{
  float: right;
  padding: 0px 15px;
  font-size: 1.4em;
  font-family:  "Architects Daughter", Arial;
  font-weight: bold;
  font-style:italic
}

.post-meta{
    padding-left: 20px;
    font-size: .8em;
    font-style: italic;
    padding: 15px 15px 0 ;
    float: left;
}

.taglist{
  list-style-type:none;
  margin: 8px 0;
  float: right;
}

.taglist li{
  display:inline-block;
}

a.tag{
  white-space:nowrap;
  min-width:90px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family:Arial, sans-serif;
  color: #000;
  font-size: .8em;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 2px 12px;
  box-shadow: inset -2px -2px 2px #333, inset 2px 2px 2px #fff;
}

a.tag:hover{color:#fff}

.content a{
  color: #037;
  background: #ddf;
  padding: 2px;
  border-radius: 4px;
}

a.glowbutton {
  text-decoration: none;
  white-space:nowrap;
  min-width:90px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family:Arial, sans-serif;
  padding: 0 12px;
  border-radius: 6px;
  color: #0CF;
  background: #003;
  box-shadow: inset #000 0px 0px 1px 1px, inset #fff -1px -1px 1px;
}

.content{
  float:left; 
  padding:10px;
  border-color: #720;
  border-top: 1px solid #720;
}

.content .section{
  margin:6px;
  display:none;
}

.content .displayed{
  display:block;
}

.content a.button{
  text-decoration: none;
  white-space:nowrap;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;  
  padding: 4px 10px;
  font-family: Arial;
  font-size: .9em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: #003;
  margin-left: -3px;
  background: #ccc;
}

a.button.selected{
  background: #fff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;  
}

.columns{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}
.columns li{
  padding-bottom: 20px;
}

#certs .columns{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

#certs .columns li{
  display: inline-block;
}

.jobtitle{
  float:left;
  width:50%;
  margin: 20px 0 0 0;
}

.jobdates{
  float:right;
  width:50;
  margin: 20px 0 0 0 ;
}

.employer{
  float:left;
  width:50%;
  margin: 0 0 10px 0;
}

.joblocation{
  float:right;
  width:50%;
  margin: 0 0 10px 0;
}

.footer {
  float:left;
}


/*Responsive Styles*/

body { max-width: 1200px; margin: 0 auto;}
.header { width: 100%; }
.page { width: 100%; }
.page .title { width: 100%;}
.page .subtitle { width: 100%;}
.page .content { width: 100%; }
.page .footer { width: 100%; }
.site .footer { width: 100%; }

/* Smaller viewport (640px or less) */
@media only screen and (max-width: 640px) {
	.header { width: 100%; }
	.page { width: 100%; }
	.site .footer { width: 100%; }
	.page .title { width: 100%;
    margin:0;   font-size:1.4em;}
    .page .subtitle { width: 100%;
    margin:0;   font-size:1em;}
	.page .content { width: 100%; }
    .page .footer {width: 100%; }
}

@media screen and (max-width : 640px){
  /* hide normal site nav */
	.header .nav {
		position: static;
		display: none;
    }
  
  	/*Display 'show menu' link*/
	.header a.menutoggle {
		display:block;
	}
	/*Make 'show menu' link work*/
	.header a.menutoggle:focus + ul {
		display:block;
	}
  
  .columns{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
  
  #certs .columns{    
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
    padding: 0px;
  }
  
  .jobtitle{
    float:left;
    width:100%;
    margin: 15px 0 0 0;
  }
  
  .jobdates{
    float:left;
    width:100%;
    margin: 0;
  }
  
  .employer{
    float:left;
    width:100%;
    margin: 0;
  }
  
  .joblocation{
    float:left;
    width:100%;
    margin: 0 0 10px 0;
  }
}

.yellowgrad {
  background: rgb(252,234,187); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(248,181,0,1) 67%, rgba(251,223,147,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(34%,rgba(252,205,77,1)), color-stop(67%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 34%,rgba(248,181,0,1) 67%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 34%,rgba(248,181,0,1) 67%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 34%,rgba(248,181,0,1) 67%,rgba(251,223,147,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 34%,rgba(248,181,0,1) 67%,rgba(251,223,147,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.yellowgrad-light{
  background: rgb(255,246,211); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,246,211,1) 0%, rgba(255,234,139,1) 34%, rgba(255,224,87,1) 67%, rgba(255,242,183,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,246,211,1)), color-stop(34%,rgba(255,234,139,1)), color-stop(67%,rgba(255,224,87,1)), color-stop(100%,rgba(255,242,183,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,246,211,1) 0%,rgba(255,234,139,1) 34%,rgba(255,224,87,1) 67%,rgba(255,242,183,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,246,211,1) 0%,rgba(255,234,139,1) 34%,rgba(255,224,87,1) 67%,rgba(255,242,183,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,246,211,1) 0%,rgba(255,234,139,1) 34%,rgba(255,224,87,1) 67%,rgba(255,242,183,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,246,211,1) 0%,rgba(255,234,139,1) 34%,rgba(255,224,87,1) 67%,rgba(255,242,183,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6d3', endColorstr='#fff2b7',GradientType=0 ); /* IE6-9 */
}

.graygrad{
  background: rgb(246,244,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,244,244,1) 0%, rgba(243,241,241,1) 15%, rgba(239,237,237,1) 22%, rgba(187,194,225,1) 94%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,244,244,1)), color-stop(15%,rgba(243,241,241,1)), color-stop(22%,rgba(239,237,237,1)), color-stop(94%,rgba(187,194,225,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(243,241,241,1) 15%,rgba(239,237,237,1) 22%,rgba(187,194,225,1) 94%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(243,241,241,1) 15%,rgba(239,237,237,1) 22%,rgba(187,194,225,1) 94%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(243,241,241,1) 15%,rgba(239,237,237,1) 22%,rgba(187,194,225,1) 94%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(246,244,244,1) 0%,rgba(243,241,241,1) 15%,rgba(239,237,237,1) 22%,rgba(187,194,225,1) 94%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4f4', endColorstr='#bbc2e1',GradientType=0 ); /* IE6-9 */
}

.darkgrad-disabled{
  background: rgb(101,101,101); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(101,101,101,1) 0%, rgba(39,39,39,1) 38%, rgba(39,39,39,1) 53%, rgba(68,68,68,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,101,101,1)), color-stop(38%,rgba(39,39,39,1)), color-stop(53%,rgba(39,39,39,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(101,101,101,1) 0%,rgba(39,39,39,1) 38%,rgba(39,39,39,1) 53%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(101,101,101,1) 0%,rgba(39,39,39,1) 38%,rgba(39,39,39,1) 53%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(101,101,101,1) 0%,rgba(39,39,39,1) 38%,rgba(39,39,39,1) 53%,rgba(68,68,68,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(101,101,101,1) 0%,rgba(39,39,39,1) 38%,rgba(39,39,39,1) 53%,rgba(68,68,68,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

.buttongrad{
  background: rgb(159,159,159); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(159,159,159,1) 0%, rgba(133,133,133,1) 20%, rgba(107,107,107,1) 51%, rgba(117,117,117,1) 60%, rgba(132,132,132,1) 76%, rgba(123,123,123,1) 91%, rgba(118,118,118,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,159,159,1)), color-stop(20%,rgba(133,133,133,1)), color-stop(51%,rgba(107,107,107,1)), color-stop(60%,rgba(117,117,117,1)), color-stop(76%,rgba(132,132,132,1)), color-stop(91%,rgba(123,123,123,1)), color-stop(100%,rgba(118,118,118,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(159,159,159,1) 0%,rgba(133,133,133,1) 20%,rgba(107,107,107,1) 51%,rgba(117,117,117,1) 60%,rgba(132,132,132,1) 76%,rgba(123,123,123,1) 91%,rgba(118,118,118,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(159,159,159,1) 0%,rgba(133,133,133,1) 20%,rgba(107,107,107,1) 51%,rgba(117,117,117,1) 60%,rgba(132,132,132,1) 76%,rgba(123,123,123,1) 91%,rgba(118,118,118,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(159,159,159,1) 0%,rgba(133,133,133,1) 20%,rgba(107,107,107,1) 51%,rgba(117,117,117,1) 60%,rgba(132,132,132,1) 76%,rgba(123,123,123,1) 91%,rgba(118,118,118,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(159,159,159,1) 0%,rgba(133,133,133,1) 20%,rgba(107,107,107,1) 51%,rgba(117,117,117,1) 60%,rgba(132,132,132,1) 76%,rgba(123,123,123,1) 91%,rgba(118,118,118,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#767676',GradientType=0 ); /* IE6-9 */
}

.pagegrad {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.24) 96%, rgba(255,102,0,0.22) 98%, rgba(255,102,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(96%,rgba(255,255,255,0.24)), color-stop(98%,rgba(255,102,0,0.22)), color-stop(100%,rgba(255,102,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 96%,rgba(255,102,0,0.22) 98%,rgba(255,102,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 96%,rgba(255,102,0,0.22) 98%,rgba(255,102,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 96%,rgba(255,102,0,0.22) 98%,rgba(255,102,0,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 96%,rgba(255,102,0,0.22) 98%,rgba(255,102,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff6600',GradientType=1 ); /* IE6-9 */
}

pre {
  padding:10px;
  border-left: 4px solid blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Lucida Console", monospace;
  font-size: .9em;
}

code {
  color:red;
  font: monospace;
  font-family: "Lucida Console", monospace;
  font-size: .9em;
}


